# Ignore virtual environment folder
env_pytorch/

# Ignore output files and logs
outputs/
logs/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
# Ignore large binaries
*.dll
*.lib
*.keras

# Explicitly ignore problematic files
env_pytorch/Lib/site-packages/torch/lib/torch_cpu.dll
env_pytorch/Lib/site-packages/torch/lib/dnnl.lib
env_pytorch/Lib/site-packages/torch/lib/torch_cpu.dll
env_pytorch/Lib/site-packages/torch/lib/dnnl.lib
